[Unit]
Description=Prometheus cPanel Exporter (All Users)
After=network.target

[Service]
Type=simple
User=root
Group=root

WorkingDirectory=/opt/cpanel_exporter
ExecStart=/usr/bin/python3 /opt/cpanel_exporter/cpanel_exporter.py --host 0.0.0.0 --port 9123

Restart=always
RestartSec=3

Environment=LC_ALL=C.UTF-8
Environment=LANG=C.UTF-8

[Install]
WantedBy=multi-user.target
